<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="1" >
    <test name="Search Flights" >
        <classes>
            <class name="com.testvagrant.automation.tests.flights.FlightBookingTest"/>
        </classes>
    </test>

    <test name="SignIn Errors Test" >
        <classes>
            <class name="com.testvagrant.automation.tests.login.SignInTest"/>
        </classes>
    </test>
</suite>
